* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Britannic';
    src: url('./fonts/Britannic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: 'Britannic', 'Berkshire Swash', 'cursive';
    background-image: url("./images/Toronto0.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    overflow-x: hidden;
} 

video {
    mix-blend-mode: screen;
}


.navbar {
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(0, 7, 20)d, yellow);
    /* background-color:rgb(0,7,20); */
}

.navbar a {
    float: left;
    font-size: 0.375rem;
    /* color:rgb(0,7,20); */
    background-image: linear-gradient(to bottom, rgb(0, 7, 20)d, yellow);
    text-align: center;
    padding: 0.375rem 0.5rem;
    text-decoration: none;
}

.subnav {
    float: right;
    overflow: hidden;
}

.subnav .subnavbtn {
    overflow: hidden;
    font-size: 0.4rem;
    border: none;
    outline: none;
    color: white;
    padding: 0.25rem 0.375rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: min-content;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    /* background-color: rgb(0,7,20); */
    background-image: linear-gradient(to bottom, rgb(0, 7, 20)d, yellow);
}

.subnav-content {
    display: none;
    position: absolute;
    background-color: inherit;
    max-width: 2rem;
    /* box-shadow: 0px 8px 16px 0px rgba(248, 226, 25, 0.2); */
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: yellow;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

.navlogo {
    float: left;
    overflow: hidden;
    font-size: 0.4rem;
    border: none;
    outline: none;
    color: white;
    padding: 0.275rem 0.3rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



#lDiv {
    float: left;
    vertical-align: bottom;
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
}

#tDiv {
    margin-top: 2rem;
}

#bDiv {
    margin-top: 5rem;
}

#rDiv {
    float: right;
    right: 0;
    bottom: 0;
    width: 50%
}


#myVideo {
    position: absolute;
    right: 0px;
    bottom: 0Px;
    height: 10rem;
    width: 12rem;
}

@media screen and (max-width: 600px) {
    #myVideo {
        position: absolute;
        right: 0px;
        bottom: 0Px;
        height: 54px;
        width: 54px;

    }

    #lDiv {
        float: left;
        vertical-align: bottom;
        color: white;
        text-align: center;
        margin: auto;
        width: 100%;
    }

    #rDiv {
        /* position: absolute; */
        float: right;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    #tDiv {
        margin-top: 0px;
    }

    #bDiv {
        margin-top: 0px;
    }

}


.button {
    background-color: yellow;
    border: none;
    font-family: 'Britannic';
    color: black;
    font-weight: bolder;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

