* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Britannic';
    src: url('./fonts/Britannic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: 'Britannic', 'Berkshire Swash', 'cursive';
    background-image: url("./images/Toronto0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    overflow-x: hidden;
}


video {
    mix-blend-mode: screen;
}


.navbar {
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(0,7,20)d , yellow);
    /* background-color:rgb(0,7,20); */
}

.navbar a {
    float: left;
    font-size: 16px;
    /* color:rgb(0,7,20); */
    background-image: linear-gradient(to bottom, rgb(0,7,20)d , yellow);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: right;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit; 
    /* background-image: linear-gradient(to bottom, rgb(0,7,20)d , yellow); */
    font-family: inherit;
    margin: 0;
    cursor: pointer;
    width: min-content;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    /* background-color: rgb(0,7,20); */
    background-image: linear-gradient(to bottom, rgb(0,7,20)d , yellow);
}

.subnav-content {
    display: none;
    position: absolute;
    background-color: inherit;
    /* background-image: linear-gradient(to bottom, rgb(0,7,20)d , yellow); */
    max-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: yellow;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

.navlogo {
    float: left;
    overflow: hidden;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnavbtn1 {
    float: left;
    overflow: hidden;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

#lDiv {
    float: left;
    vertical-align: bottom;
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
}

#rDiv {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 60Px;
}

.button {
    background-color: yellow;
    border: none;
    font-family:'Britannic';
    color: black;
    font-weight:bolder;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;

}