* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'Britannic';
    src: url('./fonts/Britannic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Britannic', 'Berkshire Swash', 'cursive';
    line-height: 1.43;
    letter-spacing: 0.01071em;
    /* overflow-x: hidden;
    background: url("./images/Toronto0.jpg") no-repeat fixed;
    background-size: cover; */
}

#bg_page1 {
    background: url("./images/Toronto0.jpg") no-repeat;
    background-size: cover;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

video {
    mix-blend-mode: screen;
}


.navbar {
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(0, 7, 20)d, yellow);
    /* background-color:rgb(0,7,20); */
}

.navbar a {
    float: left;
    font-size: 1rem;
    /* color:rgb(0,7,20); */
    background-image: linear-gradient(to bottom, rgb(0, 7, 20)d, yellow);
    text-align: center;
    padding: 0.375rem 0.5rem;
    text-decoration: none;
}

.subnav {
    float: right;
    overflow: hidden;
}

.subnav .subnavbtn {
    overflow: hidden;
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    padding: 0.375rem 0.5rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: min-content;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    /* background-color: rgb(0,7,20); */
    background-image: linear-gradient(to bottom, rgb(0, 7, 20)d, yellow);
}

.subnav-content {
    display: none;
    position: absolute;
    background-color: inherit;
    max-width: 2.5rem;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: yellow;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

.navlogo {
    float: left;
    overflow: hidden;
    font-size: 0.4rem;
    border: none;
    outline: none;
    color: white;
    padding: 0.275rem 0.3rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



#lDiv {
    float: left;
    /* vertical-align: bottom; */
    color: white;
    text-align: center;
    margin: auto;
    width: 100%;

}

#rDiv {
    float: right;
    right: 0;
    bottom: 0;
    width: 100%
}

#tDiv {
    margin-top: 4rem;
}

#bDiv {
    margin-top: 10rem;
    margin-bottom: 0rem;
}

#th1 {
    font-size: 2.5rem;
}

#tp {
    font-size: 1.5rem;
}

#bh1 {
    font-size: 1.5rem;
}

#bp {
    font-size: 1rem;
}

#myVideo {
    position: absolute;
    left: 25rem;
    bottom: 25rem;
    height: 16rem;
    width: 25rem;
}

.button {
    background-color: yellow;
    border: none;
    font-family: 'Britannic';
    color: black;
    font-weight: bolder;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
}